@media print {
    @page: first {
        size: A4;
        /* margin: 74pt; */
        background-image: url('/static/assets/teacher-levels.jpg');
        /* background-size: 100.5%; */
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        opacity: 1;

        /* @top-left {
          vertical-align: bottom;
          font-size: 8pt;
          font-family: 'mymicro', serif;
          opacity: 0.8;
          margin-bottom: 25pt;
        } */
    }

    @page {
        size: A4;
        /* margin: 74pt; */
        background-image: url('/static/assets/judgement.jpg');
        /* background-size: 100.5%; */
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        opacity: 1;
    }
}
