
            @media print {
                @page {
                    @top-left {
                        content: " 留学作品集辅导委托合同号： CT-20191204-TANGZHITING";
                    }
                }

                .student-name::before {
                    content: " 唐知亭 "
                }

                .apply-district::before {
                    content: " 英国 ";
                }

                .apply-subject::before {
                    content: " 建筑学 ";
                }

                .apply-degree::before {
                    content: " 硕士 ";
                }
        
                .univalent-amount::before {
                    content: " 200 ";
                }
            
                .instruct-lesson-hours::before {
                    content: " 40 ";
                }

                .half-lesson-hours::before {
                    content: " 20 ";
                }
            
                    .previous-funds::before {
                        content: " 20 ";
                    }
                
                .teacher-level::before {
                    content: " 辅导老师I级 ";
                }
            
                .works-number::before {
                    content: " 4 ";
                }
            
                .teacher-name::after {
                    content: " 崔雯楠";
                }
            
            .sign-date::before {
                content: "  2019 年 12 月 04 日 ";
            }
        }
        