
            @media print {
                @page {
                    @top-left {
                        content: " 留学作品集辅导委托合同号： CT-20191118-ZHANGYIFEI";
                    }
                }

                .student-name::before {
                    content: " 张熠菲 "
                }

                .apply-district::before {
                    content: " 英国 ";
                }

                .apply-subject::before {
                    content: " 建筑学 ";
                }

                .apply-degree::before {
                    content: " 硕士 ";
                }
        
                .univalent-amount::before {
                    content: " 200 ";
                }
            
                .instruct-lesson-hours::before {
                    content: " 10 ";
                }

                .half-lesson-hours::before {
                    content: " 5 ";
                }
            
                .teacher-level::before {
                    content: " 辅导老师I级 ";
                }
            
                .works-number::before {
                    content: " 1 ";
                }
            
                .teacher-name::after {
                    content: " 刘依心";
                }
            
            .sign-date::before {
                content: "  2019 年 11 月 18 日 ";
            }
        }
        