<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tutorial.css') }}">
    <title>打印</title>
</head>

<body>
    <div class="front-page">
        <p class="contract-chinese-title">留学院校申请合同</p>
        <p class="contract-english-title">Overseas Studying Counseling Contract</p>
    </div>
    <div class="content-page"></div>
    <div class="content-page">
        <div class="contract-content">
            <div>
                <p>甲方： ARCHIFOR DESIGN LTD</p>
                <p>地址： 71-75 Shelton Street, Covent Garden, London, WC2H9JQ, United Kingdom </p>
                <p>联系电话： +44 020 3897 2233</p>
                <p>国内： +86 13102219303</p>
            </div>
            <div>
                <p>乙方：</p>
                <p>地址：</p>
                <p>联系电话：</p>
                <p>乙方身份证号：</p>
                <p style="margin-left: -8px">（乙方信息可手写）</p>
            </div>
            <div>
                <p>甲乙双方本着自愿、平等、诚信的原则，就自费出国留学申请咨询服务等问题，经协商，达成如下协议，以共同遵守。</p>
            </div>
            <div>
                <h3>一、服务内容：</h3>
                <p>1、甲方向乙方提供留学前往国家的教育概况、院校、院系、专业的信息，供乙方参考。提供相应的咨询建议，最终由乙方决定留学方案。</p>
                <p>2、乙方根据自身条件，决定申请<u> <b class="apply-year-season"></b> </u>赴<u> <b class="apply-district"></b> </u>留学就读<u> <b class="apply-subject"></b> </u>专业或相关专业方向，就读<u> <b class="apply-degree"></b> </u>学位课程，自愿接受甲方提供涉及上述自费出国留学的申请服务。在最终申请之前，甲乙双方签署选校协议。申请院校以选校协议为准。</p>
                <p>3、甲方为乙方提供满足<u> <b class="apply-district"></b> </u>顶级院校要求的文书撰写及<u> <b class="school-number"></b> </u>所院校申请服务。其中，文书包括：自我陈述（PS）一封，CV一封，推荐信三封，课程描述一封（根据学校要求酌情处理）。</p>
                <p>4、为保证申请质量，甲方为乙方申请的学校分为冲刺院校、匹配院校、保底院校三个层次。甲方提供相应的咨询建议，最终由乙方决定留学方案，双方签署选校协议。最终申请学校以选校协议为准。</p>
            </div>
            <div>
                <h3>二、约定责任：</h3>
                <h4>甲方责任：</h4>
                <p>1、甲方向乙方介绍申请留学院校的入学申请程序，指导乙方准备入学申请的相关资料。甲方为乙方撰写文书并递交申请材料，申请每一步骤，每一环节乙方拥有知情权并向乙方全程透明。</p>
                <p>2、甲方向乙方介绍申请留学院校奖学金的申请程序，甲方为乙方准备奖学金申请的相关资料。</p>
                <p>3、甲方告知乙方申请留学院校的收费项目、收费标准和院校指定的银行帐号，指导乙方办理报名费和学费、杂费等有关费用的缴付手续。</p>
                <p>4、如实介绍乙方前往国家或地区的留学政策、签证政策和申请留学院校的基本情况、入学要求等相关留学信息，同时应揭示这些信息的阶段性和有限性，并承诺不做虚假陈述。</p>
                <p>5、对乙方提供的所有材料，包括个人隐私，均负有保密义务。除为了乙方入学申请、签证申请的目的以外，不得向无关的第三方透露。</p>
                <p>6、如果乙方未被任何一所学校录取，甲方免费为乙方提供下一年（<u> <b class="fail-year"></b> </u>年）的留学申请服务。（如因学生个人原因无法提交合格材料导致申请失败，例如语言成绩达不到学校要求等，甲方免责）。</p>
                <p>7、甲方为乙方免费申请目标学校奖学金，并承诺如果学生得到奖学金不收取佣金。由于奖学金发放情况完全取决于学校当年配额，最终奖学金结果甲方免责。</p>
                <p>注：甲方在乙方获取签证或入境批准文件时，免费指导乙方进行出国留学的前期准备工作。</p>
                <br />
                <h4>乙方责任：</h4>
                <p>1、确认本合同委托事项，并按本合同约定按时向甲方缴付申请服务费（以下简称服务费）。</p>
                <p>2、配合甲方工作，切实遵从甲方的工作进程安排。乙方应在本合同签订后按照甲方提供的学校要求，按时递交申请所需材料。如乙方不能按甲方要求时限内提供入学申请所需材料，因此而造成的全部后果损失由乙方承担。（包含但不限于学校明确要求的英语成绩、相关认证、学校开具的证明等）。</p>
                <p>3、在留学申请办理过程中，如前往国家或地区的留学政策、签证政策或申请留学院校的入学要求发生变化，乙方应根据新的要求，及时提供补充材料。</p>
                <p>4、在留学申请办理过程中，乙方应在甲方的指导下，自行将申请留学院校报名费、学费、杂费等费用按时足额汇往院校指定的银行帐号，且费用由乙方承担。</p>
                <p>5、在留学申请办理过程中，如需邮寄纸质版材料，乙方应在甲方的指导下，自行将申请留学院校材料寄往院校指定的地址，且费用由乙方承担。</p>
                <p>6、在留学申请办理过程中，如乙方前往国家或地区使（领）馆要求乙方进行面试，乙方应按使（领）馆要求，按时到使（领）馆面试。</p>
                <p>7、乙方如未能获得留学前往国家或地区签证或入境批准文件，或者已获签证或入境批准文件而放弃前往该国已申请留学院校学习，均由乙方自行负责向该院校提出退费申请，要求该院校按规定退还学费、杂费等费用。</p>
            </div>
            <div>
                <h3>三、缴费约定：</h3>
                <p>1、甲方收取服务费合计为人民币<u> <b class="total-amount"></b> </u>。</p>
                <p>2、乙方应按以下付款方式向甲方缴付上述款项：</p>
                <p> 乙方在本合同签署之日，向甲方缴付全部出国留学申请服务费计人民币<u> <b class="total-amount"></b> </u>。</p>
                <p>3、如果乙方希望增加申请院校及该校的奖学金项目，每增加一所申请学校，应多支付甲方<u> <b class="univalent-amount"></b> </u>/所。</p>
                <p>4、中介服务费缴费方式为银行转账汇款，甲方银行帐号为<b> _6227_0007_8303_1198_249_ </b>，银行名称：<b>中国建设银行</b>，开户行：<b>大连栾金支行</b>，开户人：<b>于阜甲</b>。</p>
                <p>5、乙方必须自行承担在留学申请办理过程中发生的其他费用（包括但不限于院校报名费、邮寄费、作品集打印费、护照工本费、公证费、翻译费、体检费、签证费、银行手续费及汇费、机票款、保险费、院校学费、杂费、接机费、住宿费等）。上述费用由乙方自行向有关机构缴付，缴费标准和缴费方式以相关收费机构对乙方的要求为准。</p>
            </div>
            <div>
                <h3>四、合同终止条款：</h3>
                <p>1、如发生以下情形之一，甲方向乙方全额退还已缴付的服务费，本合同终止：</p>
                <p>(1)乙方已履行本合同中约定的责任，由于甲方未履行本合同中约定的责任，致使乙方的院校申请目的无法实现。</p>
                <p>(2)因甲方的违约行为，如无故消失、态度恶劣、透漏学生隐私信息等，导致学生申请结果和声誉受损。</p>
                <p>2、如发生以下情形之一，对于乙方已经缴付的服务费，甲方一律不予退还，本合同终止：</p>
                <p>(1)乙方拒绝或未按期支付本合同约定款项；</p>
                <p>(2)由于乙方自身的违法行为，导致本合同无法履行；</p>
                <p>(3)乙方因提供虚假材料或恶意隐瞒相关实情；</p>
                <p>(4)乙方因个人原因终止院校申请；</p>
                <p>(5)乙方违反本合同中的约定或未完全按照本合同条款履行责任；</p>
                <p>(6)乙方由于个人原因无法按时提交满足学校要求的基本材料及达到学校要求的成绩（包含但不限于英语成绩等）。</p>
            </div>
            <div>
                <h3>五、本合同的补充、变更、修改：</h3>
                <p>1、对本合同的任何补充、变更、修改应采用书面补充合同形式。补充合同在双方签署后与本合同具有同等法律效力。</p>
                <p>2、除本合同上明确规定可以手写的内容外，任何在本合同上的手写内容或修改均对双方没有约束力。</p>
            </div>
            <div>
                <h3>六、不可抗力条款：</h3>
                <p>1、因不可抗力不能履行合同的，根据不可抗力的影响，部分或全部免除责任，但法律另外有规定的除外，当事人延迟履行后发生不可抗力的，不能免除责任。本合同所称的不可抗力，是指不能预见，不能免除并不能克服的客观情况，如重大自然灾害、瘟疫、战乱等。</p>
                <p>2、当事人一方因不可抗力不能履行合同的，应立即通知对方，说明不可抗力发生的日期，事件性质，预计持续时间以及对本合同的影响。</p>
                <p>3、对不可抗力造成的影响，双方应及时协商解决办法和补救措施，尽力采取合理措施减少对对方的损失。</p>
            </div>
            <div>
                <h3>七、适用的法律及争议解决方式：</h3>
                <p>1、本合同的履行、解释及争议均适用于中华人民共和国有关法律。</p>
                <p>2、双方如在履行本合同过程中发生争议，应由双方协商解决，如商议不成，同意按以下二者之一方式解决：</p>
                <p class="p-indent">A. 凡因本协议引起的或与本协议有关的任何争议，双方均同意提交天津市仲裁委员会仲裁，并同意按照该合同和届时有效的仲裁规则仲裁。仲裁裁决结果对各方均有约束力。</p>
                <p class="p-indent">B. 凡因本协议引起的或与本协议有关的任何争议，双方均同意向天津市南开区人民法院提起诉讼。</p>
            </div>
            <div>
                <h3>八、生效条款：</h3>
                <p>1、本合同是甲、乙双方真实意思的表示，双方已仔细阅读并完全理解其内容，约定共同遵守履行。</p>
                <p>3、本合同自甲方盖章及乙方签署并缴费之日起生效，有效期两年，若乙方签字日后两周（14 日）未付款，本合同自动作废。</p>
                <p>4、本合同正本一式两份，具有同等效力，甲、乙双方各执一份。</p>
            </div>
            <div>
                <h3>九、奖励机制：</h3>
                <p>如果推荐其他学员并协助签约成功，奖励如下：</p>
                <p>免费加申一所学校，甲方提供相应的咨询建议，最终由乙方决定选校方案。</p>
            </div>

            <div id="signatures">
                <div id="part-a">
                    <div class="stamp">
                        <p>甲方：ARCHIFOR DESIGN LTD</p>
                        <p>盖章：</p>
                        <div></div>
                        <br/>
                        <div></div>
                        <br/>
                        <p>日期： <span class="sign-date"> </span></p>
                    </div>
                    <div>
                        <p>请附乙方有效身份证件正反面照片：</p>
                    </div>
                </div>
                <div id="part-b">
                    <p>乙方：</p>
                    <p>签字：</p>
                    <div></div>
                    <br/>
                    <div></div>
                    <br/>
                    <p>日期：</p>
                </div>
            </div>
        </div>
    </div>
</body>
