<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='commission.css') }}">
    <title>打印</title>
</head>

<body>
    <div class="content-page">
        <h2 class="contract-title">留学作品集辅导委托合同</h2>
        <div class="contract-content">
            <div>
                <p>甲方(委托方): 天津灰格教育信息咨询有限公司</p>
                <p>地址： 天津市红桥区张自忠路 1 号海河华鼎大厦 B 座 1202-184 室</p>
                <p>联系电话： +86 13102219303</p>
            </div>
            <div>
                <p>乙方(受托方)：</p>
                <p>地址：</p>
                <p>联系电话：</p>
                <p>电子邮件：</p>
                <p>护照或身份证号：</p>
                <p style="margin-left: -8px">（乙方信息可手写）</p>
            </div>
            <div>
                <p>甲乙双方本着自愿、平等、诚信的原则,就乙方接受甲方委托为学生提供有关自费出国留学作品集辅导,经协商,达成如下协议,以共同遵守。本合同是甲、乙双方真实意思的表示,双方已仔细阅读并完全理解其内容。</p>
            </div>
            <div>
                <h3>一、乙方责任</h3>
                <h4>1.辅导内容:</h4>
                <p>乙方受甲方委托,对学生<u> <b class="student-name"></b> </u>进行留学作品集辅导并可根据学生自身特色适当添加辅助作品 (如摄影、绘画、书法、小制作等等)。作品集中包括 4-5 个设计,具体设计内容、概念、题目、数量乙方与甲方沟通后需征求学生意见。作品集需达到申请香港知名院校的的水平,在设计创意、作品集结构逻辑、方案分析表达、图面排版、英文理念阐述等方面充分达到优秀留学作品集的水平。作品集应具有较优秀的设计创意、建筑结构、技术等综合知识的体现,对当代优秀设计理论、设计手法的理解和运用、如有可能同时展示作品的地域特色和文化特色。</p>
                <h4>2.授课方式:</h4>
                <p>网络授课,乙方与学生商定具体授课时间,授课<u> <b class="instruct-lesson-hours"></b> </u>课时,具体进度可根据乙方与学生的实际辅导情况做一定的调整。乙方每周正式授课 1-2 次(可与学生自行调整),每次1个小时至1.5个小时(超过 2个小时按照 2课时计算，以此类推),对学生进行作品集的辅导,如设计点评,创意建议,案例讲解等并布置下一周课下被辅导人需完成的设计任务。</p>
                <h4>3.课时规定:</h4>
                <p>每次课前至少三天与学生约定上课时间。如有特殊原因需要变更上课时间需提前至少一天发布到讨论组,经学生同意方可更改,禁止临时变更上课时间。每次上课必须遵守时间安排,不得迟到早退,迟到 15 分钟以上从结算款项中扣除当次课课时费,按旷工处理,迟到三次以上或经学生举报有严重课时问题,本合同中止,不予结算尾款。</p>
                <h4>4.制定课时计划:</h4>
                <p>老师在成功试讲后,需为学生制定课时计划,经机构审核通过后,发布到讨论组发放给学生。</p>
                <h4>5.课后辅导卡片:</h4>
                <p>老师每次上课后需认真填写辅导卡片,记录课程内容、作业安排、作业截止日期,需于当日上传到讨论组。</p>
                <h4>6.课后辅导:</h4>
                <p>老师在课下需及时登录工作qq,在讨论组为学生答疑解惑,如老师预计答疑时间过长(至少半小时),可与学生商量安排上课。超过半小时的答疑且经学生同意,按正常辅导半课时处理。</p>
                <h4>7.配合教务监督:</h4>
                <p>为保证老师授课质量,甲方有权对老师上课内容进行监督并录屏,录屏所有权归甲方所有。</p>
            </div>
            <div>
                <h3>二、保密协议及违约处理</h3>
                <p>1、因乙方的严重违约行为,包括但不限于(如无故消失、中途单方面中止合同、态度恶劣、透漏学生隐私信息等)导致学生申请结果和声誉受损,乙方支付甲方等同于该学生学费的违约赔偿金。</p>
                <p>2、乙方不得与学生使用除公司提供的联系方式之外的方式沟通,因乙方私自与学生达成私下辅导协议,使甲方受损,乙方需支付甲方等同于该学生学费的违约赔偿金。</p>
                <p>3、乙方薪酬属机构商业机密,乙方不得向除甲方之外任何人透露(包括学生),如消息泄露,乙方应支付甲方等同于该学生学费的违约赔偿金。</p>
                <p>4、乙方不得泄露被辅导人信息,同时保证作品集的唯一性和原创性,不得将为被辅导人准备的创意用于他人留学申请或作品集制作(作品集所有权归学生所有),如因透漏导致申请失败,由乙方付全责。对学生提供的所有材料,包括个人隐私,甲乙双方均负有保密义务。除为了学生入学申请、签证申请的目的以外,不得向无关的第三方透露。对于以上合作内容中的未尽事宜,双方可及时沟通,根据实际需要增加合作内容及调整合作方式,但任何方式的调整或者改变均以双方书面同意为准。</p>
            </div>
            <div>
                <h3>三、导师薪资结算保密协议及违约处理</h3>
                <h4>1.课时费用:</h4>
                <p>甲方需要按时支付乙方的费用:按照课时支付课时费,每节课<u> <b class="univalent-amount"></b> </u>元。(如后期学生超过<u> <b class="instruct-lesson-hours"></b> </u>次课后希望继续加课课时费每节课<u> <b class="univalent-amount"></b> </u>元)。课时总数,按照经甲方核实过的,并且乙方已经登记在 tower (甲方提供的团队协作平台)上的课时数为主。</p>
                <h4>2.支付方式:</h4>
                <p>前期费用: 在双方签约三日内,甲方支付乙方人民币<u> <b class="previous-funds"></b> </u>元。(预先支付的<u> <b class="half-lesson-hours"></b> </u>课时费用)，付款日期为当月25日，若签约日期在当月20日后，则付款日期顺延到下月25日。</p>
                <p>尾款: 作品集辅导完毕,经机构及外聘专家评估达到学生心仪学校申请水平,甲方支付乙方尾款。支付方式为银行卡转账。(注:如乙方最终未给学生上完<u> <b class="half-lesson-hours"></b> </u>课时,乙方需退还甲方未完成的课时费)，付款日期为当月25日，若授课完成日期在当月20日后，则付款日期顺延到下月25日。</p>
            </div>
            <div>
                <h3>四、合同约定</h3>
                <p>1、甲、乙双方应严格履行本合同中全部条款,任何一方违约应承担相应的违约责任。</p>
                <p>2、如老师教学质量不满足机构要求,或学生投诉,对老师教学不满意而导致更换老师,则本合同终止履行。如学生在 1-<u> <b class="half-lesson-hours"></b> </u> 次课内,决定更换老师,本合同终止,尾款不予发放,并且乙方应退还甲方前期费用中除去已完成课时的课时费余下部分。如学生在<u> <b class="half-lesson-hours"></b> </u>次课后,决定更换老师,本合同终止,考虑到作品接近尾声更换老师的难度并带给机构的损失,课时费尾款不予支付。如因老师的原因导致学生退费,由老师赔偿给机构该学生的全额学费。</p>
                <p>3、如果学生申请院校被拒,院校的拒信上明确说明其原因是学生作品集的问题,乙方应在下一个申请季前为学生继续指导,调整作品集效果。</p>
                <p>4、乙方应按照中华人民共和国法律规定自行缴纳个人所得税。</p>
            </div>
            <div>
                <h3>五、本合同的补充、变更、修改：</h3>
                <p>1、对本合同的任何补充、变更、修改应采用书面补充合同形式。补充合同在双方签署后与本合同具有同等法律效力。</p>
                <p>2、除本合同上明确规定可以手写的内容外，任何在本合同上的手写内容或修改均对双方没有约束力。</p>
            </div>
            <div>
                <h3>六、不可抗力条款：</h3>
                <p>1、因不可抗力不能履行合同的，根据不可抗力的影响，部分或全部免除责任，但法律另外有规定的除外，当事人延迟履行后发生不可抗力的，不能免除责任。本合同所称的不可抗力，是指不能预见，不能免除并不能克服的客观情况，如重大自然灾害、瘟疫、战乱等。</p>
                <p>2、当事人一方因不可抗力不能履行合同的，应立即通知对方，说明不可抗力发生的日期，事件性质，预计持续时间以及对本合同的影响。</p>
                <p>3、对不可抗力造成的影响，双方应及时协商解决办法和补救措施，尽力采取合理措施减少对对方的损失。</p>
            </div>
            <div>
                <h3>七、适用的法律及争议解决方式：</h3>
                <p>1、本合同的履行、解释及争议均适用于中华人民共和国有关法律。</p>
                <p>2、双方如在履行本合同过程中发生争议，应由双方协商解决，如商议不成，同意按以下二者之一方式解决：</p>
                <p class="p-indent">A. 凡因本协议引起的或与本协议有关的任何争议，双方均同意提交天津市仲裁委员会仲裁，并同意按照该合同和届时有效的仲裁规则仲裁。仲裁裁决结果对各方均有约束力。</p>
                <p class="p-indent">B. 凡因本协议引起的或与本协议有关的任何争议，双方均同意向天津市南开区人民法院提起诉讼。</p>
            </div>
            <div>
                <h3>八、生效条款：</h3>
                <p>1、本合同自双方签字/盖章之日起生效至学生顺利入学止。</p>
                <p>2、本合同正本一式两份，具有同等效力，甲、乙双方各执一份。</p>
            </div>

            <div id="signatures">
                <div id="part-a">
                    <div class="stamp">
                        <p>甲方：天津灰格教育信息咨询有限公司</p>
                        <p>盖章：</p>
                        <div></div>
                        <br/>
                        <div></div>
                        <br/>
                        <p>日期： <span class="sign-date"> </span></p>
                    </div>
                    <div>
                        <p>请附乙方有效身份证件正反面照片或护照扫描件：</p>
                    </div>
                </div>
                <div id="part-b">
                    <p class="teacher-name">乙方：</p>
                    <p>签字：</p>
                    <div></div>
                    <br/>
                    <div></div>
                    <br/>
                    <p>日期：</p>
                </div>
            </div>
        </div>
    </div>
</body>
