<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='hygge.css') }}">
    <title>打印</title>
</head>

<body>
    <div class="content-page">
        <div class="contract-content">
            <h2 style="text-align: center"> 咨询服务协议 </h2>
            <div>
                <p>甲方： 天津灰格教育信息咨询有限公司</p>
                <p>地址： 天津市红桥区张自忠路1号海河华鼎大厦B座 </p>
                <p>联系电话： +86 131-0221-9303</p>
                <br />
                <p>乙方：</p>
                <p>地址：</p>
                <p>联系电话：</p>
                <p>乙方身份证号：</p>
                <p style="margin-left: -8px">（乙方信息可手写）</p>
            </div>
            <p style="margin: -10px 0 10px 0">甲、乙双方本着自愿、平等、诚信的原则，就关于自费出国留学作品集指导的中介咨询服务，经协商达成如下协议，以共同遵守。</p>
            <div>
                <h3>一、服务内容及约定责任：</h3>
                <p>1、甲方为乙方提供 作品评估、作品集制作、留学政策等 的咨询工作。</p>
                <p>2、甲乙双方在合作过程中必须确保不损害对方的利益，不能进行有损对方形象和声誉的活动。</p>
                <p>3、甲方应对乙方进行留学信息咨询和相应的技术支持，确保乙方与作品集辅导老师的沟通。</p >
                <p>4、甲方担保以下作品集指导咨询合同的执行，合同号：<span class="contract-series"></span></p >
            </div>
            <div>
                <h3>二、费用、支付方式及有效期：</h3>
                <p>1、协议签订后，乙方支付给甲方咨询服务费<u> <b> 人民币壹佰圆整（¥100）</b> </u>。</p>
                <p>2、服务费缴费方式为银行转账汇款，甲方银行帐号为<u> <b> 1205 0166 5600 0000 0247 </b> </u>，银行名称：中国建设银行，开户行所在地：天津市，开户行信息：天津北站支行，开户人：<u> <b> 天津灰格教育信息咨询有限公司 </b> </u>。</p>
                <p>3、本合同自甲方盖章日及乙方签字并付款之日起生效。合同两年内有效。若乙方签字日后两周（14天）未付款，本合同自动作废。</p>
            </div>
            <div>
                <h3>三、违约责任：</h3>
                <p>为了维护双方的利益，乙方必须对甲方的所有商业秘密保密；甲方必须对乙方设计作品、个人信息保密，如出现泄漏秘密的情况，任何一方有权终止该协议并要求赔偿。</p>
            </div>
            <div>
                <h3>四、争议的解决方式：</h3>
                <p>本协议在履行过程中发生的争执，由当事人双方协商解决；如协商不成，交由甲方所在地人民法院裁定。</p>
            </div>
            <div id="signatures" style="margin: 0">
                <div id="part-a">
                    <div class="stamp">
                        <p>甲方：天津灰格教育信息咨询有限公司</p>
                        <p>盖章：</p>
                        <div></div>
                        <br />
                        <div></div>
                        <br />
                        <p>日期： <span class="sign-date"> </span></p>
                    </div>
                </div>
                <div id="part-b">
                    <p>乙方：</p>
                    <p>签字：</p>
                    <div></div>
                    <br />
                    <div></div>
                    <br />
                    <p>日期：</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
