<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tutorial.css') }}">
    <title>打印</title>
</head>

<body>
    <div class="front-page">
        <p class="contract-chinese-title">作品集指导咨询合同</p>
        <p class="contract-english-title">Portfolio Tutoring Counseling Contract</p>
    </div>
    <div class="content-page"></div>
    <div class="content-page">
        <div class="contract-content">
            <div>
                <p>甲方： ARCHIFOR DESIGN LTD</p>
                <p>地址： 71-75 Shelton Street, Covent Garden, London, WC2H9JQ, United Kingdom </p>
                <p>联系电话： +44 020 3897 2233</p>
                <p>或 +358 466583379</p>
            </div>
            <div>
                <p>乙方：</p>
                <p>地址：</p>
                <p>联系电话：</p>
                <p>乙方身份证号：</p>
                <p style="margin-left: -8px">（乙方信息可手写）</p>
            </div>
            <div>
                <p>甲乙双方本着自愿、平等、诚信的原则，就作品集指导等问题，经协商，达成如下协议，双方已仔细阅读并完全理解其内容，共同遵守。本合同正本一式两份，具有同等效力，甲、乙双方各执一份。</p>
            </div>
            <div>
                <h3>一、服务内容：</h3>
                <p>甲方对乙方进行<u> <b class="apply-subject"></b> </u>专业作品集指导，整个指导过程辅导<u> <b class="works-number"></b> </u>份作品，甲方应尽最大努力指导乙方。通过双方共同努力，作品集达到申请<u> <b class="apply-district"></b> </u>知名院校<u> <b class="apply-degree"></b> </u>申请的水平，在设计创意、作品集结构逻辑、方案分析表达、图面排版、理念阐述等方面充分达到优秀院校申请作品集的水平。经甲方指导后，作品集应具有优秀的设计创意、概念、技术等综合知识的体现，对当代优秀设计理论、设计手法的理解和运用、如有可能同时展示作品的地域特色和文化特色。</p>
                <p>授课形式：一对一网络授课，甲方与乙方商定具体指导时间，一共<u> <b class="instruct-lesson-hours"></b> </u>课时。具体进度可根据甲方与乙方的实际指导情况做一定的调整。甲方每周正式为乙方指导 1-2 次，每课时指导时长为1小时至1.5小时(超过2小时按照2课时计算，以此类推)，对被辅导人进行作品集的指导，如设计点评，创意建议，案例讲解等并布置下一周课下乙方需完成的设计任务。每周课下，甲方为乙方提供对指导及作品集制作过程中产生的困惑集中免费答疑的机会。（讨论组中质控老师与作品集指导老师一起随时为学生解答。）</p>
                <p>甲方不得泄露乙方信息，同时保证作品集的唯一性和原创性，不得将为乙方准备的创意用于他人留学/工作申请或作品集制作（作品集知识产权归乙方所有），如因透漏导致申请失败，由甲方付全责。</p>
            </div>
            <div>
                <h3>二、约定责任：</h3>
                <h4>甲方责任：</h4>
                <p>1、作品集制作过程中，甲方为乙方提供乙方留学申请/工作地区及相关信息咨询服务。</p>
                <p>2、甲方为乙方提供优质精细的作品集指导服务。做到作品创意性强，表达深入，图面效果丰富。</p>
                <p>3、如实介绍乙方未来计划前往国家或地区的留学政策、申请留学院校的基本情况、入学要求等相关留学信息，同时应揭示这些信息的阶段性和有限性，并承诺不做虚假陈述。</p>
                <p>4、甲方全程密切监督乙方作品集制作进度，督促乙方按时完成作品集制作任务。</p>
                <p>5、甲方为乙方配备优秀<u> <b class="apply-district"></b> </u>方向作品集指导咨询师资团队，其中包括辅导老师一名，质控老师一名。</p>
                <p>指导老师：专业背景和乙方留学方向匹配的业界建筑设计师。全程辅导乙方完成达到知名院校<u> <b class="apply-degree"></b> </u>申请要求的优质作品水平。</p>
                <p>质控老师：有着多年作品集咨询指导经验，深入了解乙方留学方向的知名设计师。全程监督辅导老师的教学质量、进度，为学生的图面效果、设计思路提供指导意见和课后疑问解答。</p>
                <p>6、对于乙方提出的合理意见、建议与要求，甲方应该及时回应，并对课程安排做出相应的调整。</p>
                <p>7、对乙方提供的所有材料，包括个人隐私，均负有保密义务。除为了乙方学习目的以外，不得向无关的第三方透露。</p>
                <p>8、对于作品集指导的进度安排、作品完成情况的评判以甲方判断为准，乙方本人可根据自身情况提出需求，甲方将根据乙方需求做出调整；乙方辅助机构、中介机构、亲属提出的异议甲方将选择性采纳，对于干扰乙方安排的意见甲方一律不予采纳；如甲方在协商并且陈述客观情况后，乙方辅助机构、亲属仍坚持要求甲方修改原教学安排的意见，需三日内通过纸质版签字后的申请函正式向甲方发出通知并陈述原由，甲方照此执行，但对最终申请结果不负有责任。</p>
                <p>9、甲方密切关注学生进度并督促学生按时完成课后任务并与学生及时沟通，机构会在第<u> <b class="half-lesson-hours"></b> </u>课结束后对学生能力水平进行中期审核，如评估学生作品达到不了申请水平，甲方需告知乙方。</p>
                <p>10、甲方将海外实习招聘信息及时为乙方提供，乙方可自行选择决定。工资薪酬由实习单位发放，按照当地薪资水平计算。学生可自行与实习单位沟通住宿签证等情况。由于实习生录取完全取决于实习单位的招聘标准，甲方对录用结果不负有责任。</p>
                <h4>乙方责任：</h4>
                <p>1、乙方在本合同签订后及时向甲方提供必需的资料，如手稿、设计图纸、模型、创意手工制作等; 乙方使用的作品应为有个人版权的作品，如小组作品，需自行沟通组内成员并告知作品将被放入作品集中，与乙方小组成员产生的分歧意见，乙方需自行解决。乙方需在甲方的建议下进一步补充资料；因乙方存在主动抄袭、作假等问题产生的版权纠纷或导致的申请失败甲方不承担责任。</p>
                <p>2、确认本合同事项，并按本合同约定按时向甲方缴付作品集指导咨询服务费，以下简称服务费。</p>
                <p>3、乙方在本合同中所提供的联系方式，须保证甲方可以及时联系到乙方；作品集指导通过网络线上进行，乙方需自行保证沟通方式顺畅无误，并且随时查看指导老师、质控老师对学生的课下反馈和课后答疑。</p>
                <p>4、配合甲方工作，切实遵从甲方的工作进程安排。乙方应在本合同签订后按照甲方对作品的指导，按时完成甲方所布置的课下任务。如果有困难应及时向甲方反馈调整。如乙方不能如期做完作品集，因此而造成的损失由乙方承担。</p>
                <p>5、乙方应按照甲方安排准时参加每次指导课，如乙方未能按时完成指导老师布置的任务或无故旷课达到三次以上（含三次）时，甲方对乙方进行警告，如乙方未能按时完成指导老师布置的任务或无故旷课达到五次以上（含五次）时，甲方有权选择单方面解除合同，并对最终作品集制作结果不负有责任。</p>
                <p>6、如乙方认为甲方指导老师存在怠工、指导进度安排不合理、故意消耗课时、指导方式不能接受等情节，乙方应在 3 课时之内向甲方的质控老师反映，甲方将立即介入处理；如乙方无相关投诉反映，则视为乙方默认甲方的安排及指导合理、有效，超出 3 课时的投诉视为事后追究，甲方酌情处理补救，但对因乙方反馈不及时造成的损失不负有责任。</p>
                <p>7、乙方的任何投诉、建议应向甲方机构提出并协商解决，不得私下向甲方指导老师发出指令，不得骚扰、谩骂甲方工作人员，如发生此类情节，甲方有权选择单方面解除合同，并对最终申请结果不负有责任。</p>
            </div>
            <div>
                <h3>三、缴费约定：</h3>
                <p>1、甲方收取服务费合计为人民币<u> <b class="total-amount"></b> </u>。</p>
                <p>2、乙方应按以下付款方式向甲方缴付上述款项：</p>
                <p> 乙方在本合同签署之日，指导开始之前，向甲方缴付全部服务费计人民币<u> <b class="total-amount"></b> </u>。</p>
                <p> 自作品指导日起，指导乙方一个作品集，共计<u> <b class="instruct-lesson-hours"></b> </u>课时。如果乙方因为进度问题希望甲方继续指导，超出<u> <b class="instruct-lesson-hours"></b> </u>课时部分，每增加一课时，乙方需为甲方在指导之前支付<u> <b class="univalent-amount"></b> </u>/节。如甲方或者乙方在指导期间因个人原因暂停一周或几周的指导课程需提前三天告知对方，指导时间顺延。</p>
                <p>3、服务费缴费方式为银行转账汇款，甲方银行帐号为<b> _6227_0007_8303_1198_249_ </b>，银行名称：<b>中国建设银行</b>，开户行：<b>大连栾金支行</b>，开户人：<b>于阜甲</b>。</p>
                <p>4、在申请过程中，如需邮寄纸质版作品集材料，乙方应在甲方的指导下，自行将申请院校/工作的作品集材料打印并寄往申请院校/工作指定的地址。所产生的费用由乙方承担。</p>
            </div>
            <div>
                <h3>四、合同终止约定：</h3>
                <p>1、如发生以下情形之一，甲方向乙方全额退还已缴付的服务费，本合同终止：</p>
                <p>(1)乙方已履行本合同中约定的责任，由于甲方未履行本合同中约定的责任，致使乙方无法实现作品集制作；</p>
                <p>(2)因甲方的违约行为，如无故消失、态度恶劣、透漏学生隐私信息等，导致学生申请结果和声誉受损。</p>
                <p>2、如发生以下情形之一，对于乙方已经缴付的服务费，甲方一律不予退还，本合同终止：</p>
                <p>(1)乙方无正当理由拒付本合同约定款项；</p>
                <p>(2)由于乙方自身的违法行为，导致本合同无法履行；</p>
                <p>(3)乙方因提供虚假材料或恶意隐瞒相关实情；</p>
                <p>(4)乙方因个人原因终止作品集学习或终止院校申请；</p>
                <p>(5)乙方违反本合同中的约定或未完全按照本合同条款履行责任。</p>
            </div>
            <div>
                <h3>五、不可抗力约定：</h3>
                <p>1、因不可抗力不能履行合同的，根据不可抗力的影响，部分或全部免除责任，但法律另外有规定的除外，当事人延迟履行后发生不可抗力的，不能免除责任。本合同所称的不可抗力，是指不能预见，不能免除并不能克服的客观情况，如重大自然灾害、瘟疫、战乱等。</p>
                <p>2、当事人一方因不可抗力不能履行合同的，应立即通知对方，说明不可抗力发生的日期，事件性质，预计持续时间以及对本合同的影响。</p>
                <p>3、对不可抗力造成的影响，双方应及时协商解决办法和补救措施，尽力采取合理措施减少对对方的损失。</p>
            </div>
            <div>
                <h3>六、合同生效与变更约定：</h3>
                <p>1、本合同自甲方盖章及乙方签署并缴费之日起生效，有效期两年，若乙方签字日后10个工作日未付款，本合同自动作废。</p>
                <p>2、对本合同的任何补充、变更、修改应采用书面补充合同形式。补充合同在双方签署后与本合同具有同等法律效力。</p>
                <p>3、除本合同上明确规定可以手写的内容外，任何在本合同上的手写内容或修改均对双方没有约束力。</p>
            </div>
            <div>
                <h3>七、适用的法律及争议解决方式：</h3>
                <p>1、本合同的履行、解释及争议均适用于中华人民共和国有关法律。</p>
                <p>2、双方如在履行本合同过程中发生争议，应由双方协商解决，如商议不成，按照以下二者之一方式解决：</p>
                <p class="p-indent">A. 凡因本协议引起的或与本协议有关的任何争议，双方均同意提交天津市仲裁委员会仲裁，并同意按照该合同和届时有效的仲裁规则仲裁。仲裁裁决结果对各方均有约束力。</p>
                <p class="p-indent">B. 凡因本协议引起的或与本协议有关的任何争议，双方均同意向天津市南开区人民法院提起诉讼。</p>
            </div>
            <div>
                <h3>九、保密约定：</h3>
                <p>1、双方承诺对本合同的内容负有保密义务，不得向第三方披露；双方保证在合同履行过程中知悉任何对方的个人秘密、公司秘密及商业秘密，都承担保密义务。不论本合同变更、解除或终止，本条款均具法律效力。</p>
                <p>2、未经书面同意，乙方不得对外出售甲方的内部资料，不得进行有商业目的和行为的录音录像，不得向第三方提供或透露甲方的指导咨询材料或指导方法。如乙方违反本条规定，甲方有权要求乙方立即停止侵权行为，有权要求乙方赔偿甲方由此而产生的一切实际损失。</p>
                <p>3、为保证学员上课质量，质控老师会不定时跟听并录屏以供机构评估老师作品集指导质量，把控学生作品集进度，甲方保证该内容不会涉及学员隐私，作品唯一性独立性。最终解释权归甲方所有。</p>
            </div>
            <div id="signatures">
                <div id="part-a">
                    <div class="stamp stamp-archifor">
                        <p>甲方：ARCHIFOR DESIGN LTD</p>
                        <p>盖章：</p>
                        <div></div>
                        <br/>
                        <div></div>
                        <br/>
                        <p>日期： <span class="sign-date"> </span></p>
                    </div>
                    <div>
                        <p>请另附乙方有效身份证件正反面照片：</p>
                    </div>
                </div>
                <div id="part-b">
                    <p>乙方：</p>
                    <p>签字：</p>
                    <div></div>
                    <br/>
                    <div></div>
                    <br/>
                    <p>日期：</p>
                </div>
            </div>
            <div style="page-break-after:always; "></div>

            <div>
                <h3>附录 1：</h3>
                <p style="text-align:center;">留学专业咨询老师的评估意见与建议 (Professional Assessments)</p>
            </div>
            <div>
                <h3>1. 针对目标院校项，学生的整体专业水平如何？</h3>
                <p>该同学设计感较好，作品风格是<u> <b class="apply-district"></b> </u>院校比较倾向的。不过作品表达逻辑上不是十分出色，分析图相关技巧还需加强，尤其图的深度以及图与图的关联关系还需强化。建筑设计的效果图是作品最直接的表现，是评审老师判断该方案设计精彩与否的第一判断点，在 5 分钟之内看完一本集子的评委老师很难不是“颜控”。因此效果图的表达技巧上还应着重提高，图幅也应该适当加大。另外设计图面应讲求层次，要有清晰的逻辑脉络，需着重选图的合理性以及图之间的关联，否则就会变成大杂烩毫无逻辑可言。（这也是本科阶段学生的通病，用 diagram 去填空，而非用 diagram 去表述整个设计的脉络）。审阅申请研究生的作品集时，评审老师比较注重 CONTEXT（来龙去脉，关联性），注重学生的 CONCEPT（概念）表达，表达方式是基础，逻辑思维是基础中的基础。</p>
            </div>
            <div>
                <h3>2. 推荐课时及原因？</h3>
                <p><u> <b class="instruct-lesson-hours"></b> </u>课时。在专业指导老师的引导下学生能够快速的对现有的作品的深度和效果加以提升。同时 提前转化设计思维，提早熟悉国外学习常用的软件及其技巧。在作品集的制作过程中能够在设计思维和逻辑上系统的转化，以及表达表现上的提高。虽从该生得设计作品中可以看 出一定的设计理念及思想，但体系不成立，设计研究的范围较小，不完全具有申请作品集所要求的“设计改变社会某种现象或问题”的普适意义。需通过与老师的共同努力确定作品集 入选不同作品，尺度类型有不同侧重，并且该些作品应涵盖建筑、设计、环境、景观、人文、 社会等问题，运用多种表现手法及设计技术，如绿色设计、生态环境设计、数据理论分析等全方位展现学生设计思想、表达、逻辑及动手技能等。实现作品集从设计理念到方案表达能够大幅度提高，达到申请所要求的作品集专业水平。</p>
            </div>
            <div>
                <h3>3. 根据学生提交的作品，提出意见与建议，举例说明学生的设计及表达如何提高？</h3>
                <h4>1）增强·基地的详细分析，给出更有力的数据支撑：</h4>
                <p>作品集的考核比较偏向国外的本科设计课程教育——非常强调方案从无到有的过程。设计灵感需要从基地环境中汲取。整个逻辑过程应为：基地调研——问题提炼——方案生成——成果表达——节点细部深入。基地中位置、环境、文脉、历史、人的行为模式等等，都可以是你设计的出发点，但是需要把这一部分清晰的分析出来。</p>
                <div class="attachment">
                    <img src={{ url_for("static", filename='assets/attachment01.jpg') }} />
                </div>
                <h4>2）强化高效有表达技巧的分析方法：</h4>
                <p>学生作品提交的比较少，在提交的图面表达中没有看到表达比较充分的作品集经常使用的分析图。剖面图是作品集四个中建议至少出现两次的图面表达，因为它能清楚的反映出内部空间尺度、气氛、细节。因此深度要求比较高。此外建议增加更加有深度的节点详图，上面注明清楚植物配置选择。现在在提交的图面中节点详图也比较欠缺。</p>
                <h4>3）多种表达技巧综合体现：</h4>
                <p>在一套完整作品集中，所选择的图面都需要花时间去钻研多种的表达效果，比如向评委老师 展示手绘、模型、渲染加Photoshop 后期修改、CAD 节点详图等等的能力。在一本优秀的作品集的方案表达中，除了吸引眼球的效果图、还需要模型的表达，并且手绘草图来展现设计过程。来说完整的作品集要表达 4-5 个作品，重点表达 1-2 个，有些设计作品假如在表达和概 念上没有亮点，可以直接拿掉，其他作品需要在设计内容、diagram、效果表现以及作品集 逻辑思路上下功夫。</p>
                <div class="attachment">
                    <img src={{ url_for("static", filename='assets/attachment02.jpg') }} />
                    <img src={{ url_for("static", filename='assets/attachment03.jpg') }} />
                    <img src={{ url_for("static", filename='assets/attachment04.jpg') }} />
                </div>
                <h4>4）整本集子需要一个大的概念贯穿始终：</h4>
                <p>好的作品集应该全面的展示你的鲜明的个人设计主张，给评委老师一个明确的设计概念或者与众不同的设计风格，比如，设计的出发点是深入探讨建筑与当地城市文脉的关系，也就是国外老师常常会着重提到的 context，那么你的作品就可以就设计与当地文化、环境如何展开来细致说明，并用相匹配的一系列图面阐释清楚。作品集同时应有一个明确的内容主题，主题可以是几个作品共有的要素，如环保，城市关系或者是新材料的探讨以及城市复合空间功能组合 HOPSCA，也可以是设计者最突出的个人能力，如清晰缜密的逻辑思维， 如以简洁美观的手绘图指导整个设计/ 创作过程等。明确的主题不仅让你的作品集内容更紧凑 相关，更让你的作品系列化。需要找到你个人或作品最核心的亮点和特点，并将其主题化， 通过将主题渗透到作品集的每一个部分，让作品集的内容结构化，从而将这 4-5 个作品有机 的贯穿，如同将电影的片段剪辑起来，变成一个故事。</p>
            </div>
        </div>
    </div>
</body>
